[profile.default]
auto_detect_solc = false # Foundry will automatically try to resolve appropriate Solidity compiler versions
solc_version = "0.8.29" # Uses a single Solidity compiler version for the project
optimizer = true
optimizer_runs = 4294967295
libs = ["node_modules"]
out = "out"
script = "scripts"
src = "src"
test = "test"
verbosity = 3 # The verbosity level to use during tests.
fs_permissions = [
  { access = "read", path = "./out" },
  { access = "read-write", path = "./deployments" },
]

[fmt]
line_length = 100
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
sort_imports = true

[profile.ci.fuzz]
runs = 65536

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
