[profile.default]
auto_detect_solc = false # Foundry will automatically try to resolve appropriate Solidity compiler versions
solc_version = "0.8.29" # Uses a single Solidity compiler version for the project
optimizer = true
optimizer_runs = 4294967295
src = "src"
out = "out"
test = "test"
libs = ["node_modules"]
verbosity = 3 # The verbosity level to use during tests.

[profile.ci.fuzz]
runs = 65536

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
