name: NPM Publish

on:
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      version:
        description: "Version to publish (e.g., 0.1.0)"
        required: true
        default: ""

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Install Lerna
        run: bun add -g lerna

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Build
        run: bun run build

      - name: Run tests
        run: forge test

      - name: Set version if provided
        if: github.event.inputs.version != ''
        run: lerna version ${{ github.event.inputs.version }} --no-push --no-git-tag-version --yes --force-publish --allow-branch jt/fix-npm

      - name: Authenticate to npm
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc

      - name: Check npm login
        run: |
            npm whoami || (echo "Not logged in to npm registry" && exit 1)
      
      - name: Check working tree is clean
        run: |
          git status
          git diff
      
      - name: Publish to NPM
        run: lerna publish from-package --yes --force-publish --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
